[phases.setup]
nixPkgs = ["python312", "gcc"]

[phases.install]
cmds = ["cd backend && pip install -r requirements.txt"]

[start]
cmd = "cd backend && gunicorn 'app:create_app()' --bind 0.0.0.0:$PORT --workers 2"
